<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <h1>Dominic Kristopher Verna</h1>
  
  <p>
    Hello! I am a student at the University of Michigan - Flint.
    <br>
    I am a Computer Science Major in my senior year.
    <br>
    Here are some links to more about me.
  </p>

  <br>

  <div class="button-container">
    <a href="https://github.com/domkverna" class="button" target="_blank">My Github</a>

    <a href="https://www.linkedin.com/in/domkverna/" class="button" target="_blank">My LinkedIn</a>

    <a href="https://drive.google.com/u/1/uc?id=1355cnN960bxhlIkpS7JT8BEgzkamWMZF&export=download" 
    download class="button" target="_blank">My Resume</a>
    <!--To get the download link, open the resume in a new window and press download, quickly go to the searchbar and get the link.-->
  </div>

  <iframe src="https://drive.google.com/file/d/1355cnN960bxhlIkpS7JT8BEgzkamWMZF/preview" width="640" height="480" allow="autoplay"></iframe>
  <!--You have to pop out the file to embed the link. Stupid, but it works. Preview it in another window-->
  
</body>
</html>